/* About.css */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #eac5f2, #ebd1f7, #eddcfa, #f1e7fd, #f6f2fe, #f9f6ff, #fcfbff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    color: #333;
    padding: 0 20px;
    text-align: left;
    
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    
}

.about-text {
    max-width: 50%;
}

.about-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    border-radius: 5px;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 55px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

.bio {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.typed-text {
    font-size: 24px;
    color: #ff0080;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.download-cv-btn {
    display: inline-block;
    padding: 10px 02px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-cv-btn:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

.about-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
