.contact-section {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;

    font-family: 'Playfair Display', serif;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(15deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
    overflow: hidden;
}

.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #e81cff 25%, #40c9ff 75%);
    z-index: -1;
    filter: blur(20px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.form-group label {
    font-size: 13px;
    color: #ccc;
    text-transform: uppercase;
}

.form-group input,
.form-group textarea {
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #444;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: background 0.3s, border-color 0.3s;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #888;
}

.form-group input:focus,
.form-group textarea:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #e81cff;
}

.form-group textarea {
    resize: none;
    height: 150px;
}

.form-submit-btn {
    padding: 15px;
    border-radius: 8px;
    background: #61dafb;
    color: #212121;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-transform: uppercase;
}

.form-submit-btn:hover {
    background: #21a1f1;
}

.form-submit-btn:active {
    transform: scale(0.95);
}
