/* Footer.css */
footer.fixed-footer {
    background-color: #282c34;
    padding: 10px;
    color: white;
    text-align: center;
    /* Se elimina position: fixed */
  }
  
  .fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  