/* Home.css */
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/fondohome.jpeg') no-repeat center center/cover;
    color: white;
    padding: 0 20px;
    text-align: left;
}

.home-content {
    max-width: 800px;
    text-align: left;
    z-index: 1;
}

.home-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.home-content .highlight {
    color: #ff0080;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.home-content h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.home-content .typed-text {
    color: #ff0080;
    font-weight: bold;
}

.hire-me-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hire-me-btn:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

