#skills {
    padding: 80px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills-content {
    width: 40%;
    padding: 20px;
    text-align: left;
}

.skills-content h2 {
    font-size: 36px;
    margin-bottom: 2px;
}

.form-container {
    width: 100%;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(15deg, transparent 35%, #e81cff 40%, #40c9ff 60%, transparent 80%) border-box;
    border: 25px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 1px;
    background-size: 400% 100%; /* Aumentado para hacer la animación más visible */
    animation: gradient 8s ease infinite; /* Aumentada la duración para un efecto más lento */
    margin: 0 auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

.skills-carousel {
    width: 55%;
}

.slick-slider {
    margin: 0 auto;
    width: 100%;
}

.skill-card {
    padding: 20px;
    border-radius: 50px;
    color: black;
    text-align: center;
    transition: transform 0.09s ease;
    margin-bottom: 80px;
}

.skill-card img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px; /* Ajusta el tamaño según sea necesario */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
}

.skill-card:hover {
    transform: scale(1.1);
}

.slick-prev, .slick-next {
    color: #fff;
    z-index: 2;
}

.slick-prev:hover, .slick-next:hover {
    color: #61dafb;
}

.slick-dots li button:before {
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color: #61dafb;
}
